.player {
    &__title {
        font-size: 4em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    &__ctn {
        margin-top: 2em;
        width: 100%;
        overflow: hidden;
    }

    &__history {
        margin-top: 2em;
        font-family: sans-serif;
        font-size: 1.4em;
        line-height: 125%;
    }
}
