body {
	min-height: 200vh;
	background-color: var(--color-dark);
	font-family: "Humane";
	font-size: 16px;
}

canvas {
	height: 100vh !important;
	width: 100% !important;

	@include medium {
		height: -webkit-fill-available;
	}
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
}
